.mrgn_5b{margin-bottom:5px !important;}
.mrgn_10b{margin-bottom:10px !important;}
.mrgn_15b{margin-bottom:15px !important;}
.mrgn_20b{margin-bottom:20px !important;}
.mrgn_25b{margin-bottom:25px !important;}
.mrgn_30b{margin-bottom:30px !important;}
.mrgn_35b{margin-bottom:35px !important;}
.mrgn_40b{margin-bottom:40px !important;}
.mrgn_45b{margin-bottom:45px !important;}
.mrgn_50b{margin-bottom:50px !important;}

.mrgn_5t{margin-top:5px;}
.mrgn_10t{margin-top:10px;}
.mrgn_15t{margin-top:15px;}
.mrgn_20t{margin-top:20px;}
.mrgn_25t{margin-top:25px;}
.mrgn_30t{margin-top:30px;}
.mrgn_35t{margin-top:35px;}
.mrgn_40t{margin-top:40px;}
.mrgn_45t{margin-top:45px;}
.mrgn_50t{margin-top:50px;}

.mrgn_5l{margin-left:5px;}
.mrgn_10l{margin-left:10px;}
.mrgn_15l{margin-left:15px;}
.mrgn_20l{margin-left:20px;}
.mrgn_25l{margin-left:25px;}
.mrgn_30l{margin-left:30px;}
.mrgn_35l{margin-left:35px;}
.mrgn_40l{margin-left:40px;}
.mrgn_45l{margin-left:45px;}
.mrgn_50l{margin-left:50px;}

.mrgn_5r{margin-right:5px;}
.mrgn_10r{margin-right:10px;}
.mrgn_15r{margin-right:15px;}
.mrgn_20r{margin-right:20px;}
.mrgn_25r{margin-right:25px;}
.mrgn_30r{margin-right:30px;}
.mrgn_35r{margin-right:35px;}
.mrgn_40r{margin-right:40px;}
.mrgn_45r{margin-right:45px;}
.mrgn_50r{margin-right:50px;}



.pd_5b{padding-bottom:5px;}
.pd_10b{padding-bottom:10px;}
.pd_15b{padding-bottom:15px;}
.pd_20b{padding-bottom:20px;}
.pd_25b{padding-bottom:25px;}
.pd_30b{padding-bottom:30px;}
.pd_35b{padding-bottom:35px;}
.pd_40b{padding-bottom:40px;}
.pd_45b{padding-bottom:45px;}
.pd_50b{padding-bottom:50px;}

.pd_5t{padding-top:5px;}
.pd_10t{padding-top:10px;}
.pd_15t{padding-top:15px;}
.pd_20t{padding-top:20px;}
.pd_25t{padding-top:25px;}
.pd_30t{padding-top:30px;}
.pd_35t{padding-top:35px;}
.pd_40t{padding-top:40px;}
.pd_45t{padding-top:45px;}
.pd_50t{padding-top:50px;}

.pd_5l{padding-left:5px;}
.pd_10l{padding-left:10px;}
.pd_15l{padding-left:15px;}
.pd_20l{padding-left:20px;}
.pd_25l{padding-left:25px;}
.pd_30l{padding-left:30px;}
.pd_35l{padding-left:35px;}
.pd_40l{padding-left:40px;}
.pd_45l{padding-left:45px;}
.pd_50l{padding-left:50px;}

.pd_5r{padding-right:5px;}
.pd_10r{padding-right:10px;}
.pd_15r{padding-right:15px;}
.pd_20r{padding-right:20px;}
.pd_25r{padding-right:25px;}
.pd_30r{padding-right:30px;}
.pd_35r{padding-right:35px;}
.pd_40r{padding-right:40px;}
.pd_45r{padding-right:45px;}
.pd_50r{padding-right:50px;}

.floatl{float:left !important;}
.floatr{float:right !important;}

.text_left{text-align:left;}
.text_right{text-align:right;}
.text_center{text-align:center;}
.clear{clear:both;}

.width_full{width:100%; float:left; text-align:left; position:relative;}

.display_block{display:inline-block !important;}

